<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="birdsnail.example.db.mapper.UserMapper">



    <select id="selectByName" resultType="birdsnail.example.base.User">
        select * from t_user where name = #{name}
    </select>

    <insert id="insert" flushCache="false">
        insert into t_user(name, age, phone) values (#{name}, #{age}, #{phone})
    </insert>
</mapper>